[submodule "libs/vtparse"]
	path = libs/vtparse
	url = https://github.com/panda2code/vtparse
[submodule "libs/mach-freetype"]
  path = libs/mach-freetype
  url = https://github.com/panda2code/mach-freetype
