[submodule "vtparse"]
	path = external/vtparse
	url = https://github.com/panda2code/vtparse
[submodule "mach-freetype"]
	path = external/mach-freetype
  url = https://github.com/panda2code/mach-freetype
